body{
    background-color: #eee;
}

  .app-header {
    background-color: #333;
    min-height: 50px;
    padding: 20px;
    color: white;
  }
  
  .app-title {
    text-align: center;
  }

.weather-card{
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    border-radius: 7px;
    transition: all .3s ease-in-out;
    border-top: solid 7px transparent;

    &:hover{
        background-color: #F6F6F7;
        box-shadow: 0 1px 1px rgba(0.2,0,0,0.3);
        // transform: scale(0.95);
        border-top: solid 7px #5B70BF;
    }

    a{
      color: #03A9F4;
    }
}
