//Utility classes
$amounts: 0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100;

//Made utility classes uing sass to dynamically create classes to quickly use throughout site
@each $amount in $amounts{
    .marg-#{$amount}{
        margin: #{$amount}px;
    }
    .marg-top-#{$amount}{
        margin-top: #{$amount}px;
    }
    .marg-right-#{$amount}{
        margin-right: #{$amount}px;
    }
    .marg-bottom-#{$amount}{
        margin-bottom: #{$amount}px;
    }   
    .marg-left-#{$amount}{
        margin-left: #{$amount}px;
    }
}

@each $padding in $amounts{
    .pad-#{$padding}{
        padding: #{$padding}px;
    }
    .pad-top-#{$padding}{
        padding-top: #{$padding}px;
    }
    .pad-right-#{$padding}{
        padding-right: #{$padding}px;
    }
    .pad-bottom-#{$padding}{
        padding-bottom: #{$padding}px;
    }   
    .pad-left-#{$padding}{
        padding-left: #{$padding}px;
    }
}