.marg-0 {
  margin: 0px; }

.marg-top-0 {
  margin-top: 0px; }

.marg-right-0 {
  margin-right: 0px; }

.marg-bottom-0 {
  margin-bottom: 0px; }

.marg-left-0 {
  margin-left: 0px; }

.marg-5 {
  margin: 5px; }

.marg-top-5 {
  margin-top: 5px; }

.marg-right-5 {
  margin-right: 5px; }

.marg-bottom-5 {
  margin-bottom: 5px; }

.marg-left-5 {
  margin-left: 5px; }

.marg-10 {
  margin: 10px; }

.marg-top-10 {
  margin-top: 10px; }

.marg-right-10 {
  margin-right: 10px; }

.marg-bottom-10 {
  margin-bottom: 10px; }

.marg-left-10 {
  margin-left: 10px; }

.marg-15 {
  margin: 15px; }

.marg-top-15 {
  margin-top: 15px; }

.marg-right-15 {
  margin-right: 15px; }

.marg-bottom-15 {
  margin-bottom: 15px; }

.marg-left-15 {
  margin-left: 15px; }

.marg-20 {
  margin: 20px; }

.marg-top-20 {
  margin-top: 20px; }

.marg-right-20 {
  margin-right: 20px; }

.marg-bottom-20 {
  margin-bottom: 20px; }

.marg-left-20 {
  margin-left: 20px; }

.marg-25 {
  margin: 25px; }

.marg-top-25 {
  margin-top: 25px; }

.marg-right-25 {
  margin-right: 25px; }

.marg-bottom-25 {
  margin-bottom: 25px; }

.marg-left-25 {
  margin-left: 25px; }

.marg-30 {
  margin: 30px; }

.marg-top-30 {
  margin-top: 30px; }

.marg-right-30 {
  margin-right: 30px; }

.marg-bottom-30 {
  margin-bottom: 30px; }

.marg-left-30 {
  margin-left: 30px; }

.marg-35 {
  margin: 35px; }

.marg-top-35 {
  margin-top: 35px; }

.marg-right-35 {
  margin-right: 35px; }

.marg-bottom-35 {
  margin-bottom: 35px; }

.marg-left-35 {
  margin-left: 35px; }

.marg-40 {
  margin: 40px; }

.marg-top-40 {
  margin-top: 40px; }

.marg-right-40 {
  margin-right: 40px; }

.marg-bottom-40 {
  margin-bottom: 40px; }

.marg-left-40 {
  margin-left: 40px; }

.marg-45 {
  margin: 45px; }

.marg-top-45 {
  margin-top: 45px; }

.marg-right-45 {
  margin-right: 45px; }

.marg-bottom-45 {
  margin-bottom: 45px; }

.marg-left-45 {
  margin-left: 45px; }

.marg-50 {
  margin: 50px; }

.marg-top-50 {
  margin-top: 50px; }

.marg-right-50 {
  margin-right: 50px; }

.marg-bottom-50 {
  margin-bottom: 50px; }

.marg-left-50 {
  margin-left: 50px; }

.marg-55 {
  margin: 55px; }

.marg-top-55 {
  margin-top: 55px; }

.marg-right-55 {
  margin-right: 55px; }

.marg-bottom-55 {
  margin-bottom: 55px; }

.marg-left-55 {
  margin-left: 55px; }

.marg-60 {
  margin: 60px; }

.marg-top-60 {
  margin-top: 60px; }

.marg-right-60 {
  margin-right: 60px; }

.marg-bottom-60 {
  margin-bottom: 60px; }

.marg-left-60 {
  margin-left: 60px; }

.marg-65 {
  margin: 65px; }

.marg-top-65 {
  margin-top: 65px; }

.marg-right-65 {
  margin-right: 65px; }

.marg-bottom-65 {
  margin-bottom: 65px; }

.marg-left-65 {
  margin-left: 65px; }

.marg-70 {
  margin: 70px; }

.marg-top-70 {
  margin-top: 70px; }

.marg-right-70 {
  margin-right: 70px; }

.marg-bottom-70 {
  margin-bottom: 70px; }

.marg-left-70 {
  margin-left: 70px; }

.marg-75 {
  margin: 75px; }

.marg-top-75 {
  margin-top: 75px; }

.marg-right-75 {
  margin-right: 75px; }

.marg-bottom-75 {
  margin-bottom: 75px; }

.marg-left-75 {
  margin-left: 75px; }

.marg-80 {
  margin: 80px; }

.marg-top-80 {
  margin-top: 80px; }

.marg-right-80 {
  margin-right: 80px; }

.marg-bottom-80 {
  margin-bottom: 80px; }

.marg-left-80 {
  margin-left: 80px; }

.marg-85 {
  margin: 85px; }

.marg-top-85 {
  margin-top: 85px; }

.marg-right-85 {
  margin-right: 85px; }

.marg-bottom-85 {
  margin-bottom: 85px; }

.marg-left-85 {
  margin-left: 85px; }

.marg-90 {
  margin: 90px; }

.marg-top-90 {
  margin-top: 90px; }

.marg-right-90 {
  margin-right: 90px; }

.marg-bottom-90 {
  margin-bottom: 90px; }

.marg-left-90 {
  margin-left: 90px; }

.marg-95 {
  margin: 95px; }

.marg-top-95 {
  margin-top: 95px; }

.marg-right-95 {
  margin-right: 95px; }

.marg-bottom-95 {
  margin-bottom: 95px; }

.marg-left-95 {
  margin-left: 95px; }

.marg-100 {
  margin: 100px; }

.marg-top-100 {
  margin-top: 100px; }

.marg-right-100 {
  margin-right: 100px; }

.marg-bottom-100 {
  margin-bottom: 100px; }

.marg-left-100 {
  margin-left: 100px; }

.pad-0 {
  padding: 0px; }

.pad-top-0 {
  padding-top: 0px; }

.pad-right-0 {
  padding-right: 0px; }

.pad-bottom-0 {
  padding-bottom: 0px; }

.pad-left-0 {
  padding-left: 0px; }

.pad-5 {
  padding: 5px; }

.pad-top-5 {
  padding-top: 5px; }

.pad-right-5 {
  padding-right: 5px; }

.pad-bottom-5 {
  padding-bottom: 5px; }

.pad-left-5 {
  padding-left: 5px; }

.pad-10 {
  padding: 10px; }

.pad-top-10 {
  padding-top: 10px; }

.pad-right-10 {
  padding-right: 10px; }

.pad-bottom-10 {
  padding-bottom: 10px; }

.pad-left-10 {
  padding-left: 10px; }

.pad-15 {
  padding: 15px; }

.pad-top-15 {
  padding-top: 15px; }

.pad-right-15 {
  padding-right: 15px; }

.pad-bottom-15 {
  padding-bottom: 15px; }

.pad-left-15 {
  padding-left: 15px; }

.pad-20 {
  padding: 20px; }

.pad-top-20 {
  padding-top: 20px; }

.pad-right-20 {
  padding-right: 20px; }

.pad-bottom-20 {
  padding-bottom: 20px; }

.pad-left-20 {
  padding-left: 20px; }

.pad-25 {
  padding: 25px; }

.pad-top-25 {
  padding-top: 25px; }

.pad-right-25 {
  padding-right: 25px; }

.pad-bottom-25 {
  padding-bottom: 25px; }

.pad-left-25 {
  padding-left: 25px; }

.pad-30 {
  padding: 30px; }

.pad-top-30 {
  padding-top: 30px; }

.pad-right-30 {
  padding-right: 30px; }

.pad-bottom-30 {
  padding-bottom: 30px; }

.pad-left-30 {
  padding-left: 30px; }

.pad-35 {
  padding: 35px; }

.pad-top-35 {
  padding-top: 35px; }

.pad-right-35 {
  padding-right: 35px; }

.pad-bottom-35 {
  padding-bottom: 35px; }

.pad-left-35 {
  padding-left: 35px; }

.pad-40 {
  padding: 40px; }

.pad-top-40 {
  padding-top: 40px; }

.pad-right-40 {
  padding-right: 40px; }

.pad-bottom-40 {
  padding-bottom: 40px; }

.pad-left-40 {
  padding-left: 40px; }

.pad-45 {
  padding: 45px; }

.pad-top-45 {
  padding-top: 45px; }

.pad-right-45 {
  padding-right: 45px; }

.pad-bottom-45 {
  padding-bottom: 45px; }

.pad-left-45 {
  padding-left: 45px; }

.pad-50 {
  padding: 50px; }

.pad-top-50 {
  padding-top: 50px; }

.pad-right-50 {
  padding-right: 50px; }

.pad-bottom-50 {
  padding-bottom: 50px; }

.pad-left-50 {
  padding-left: 50px; }

.pad-55 {
  padding: 55px; }

.pad-top-55 {
  padding-top: 55px; }

.pad-right-55 {
  padding-right: 55px; }

.pad-bottom-55 {
  padding-bottom: 55px; }

.pad-left-55 {
  padding-left: 55px; }

.pad-60 {
  padding: 60px; }

.pad-top-60 {
  padding-top: 60px; }

.pad-right-60 {
  padding-right: 60px; }

.pad-bottom-60 {
  padding-bottom: 60px; }

.pad-left-60 {
  padding-left: 60px; }

.pad-65 {
  padding: 65px; }

.pad-top-65 {
  padding-top: 65px; }

.pad-right-65 {
  padding-right: 65px; }

.pad-bottom-65 {
  padding-bottom: 65px; }

.pad-left-65 {
  padding-left: 65px; }

.pad-70 {
  padding: 70px; }

.pad-top-70 {
  padding-top: 70px; }

.pad-right-70 {
  padding-right: 70px; }

.pad-bottom-70 {
  padding-bottom: 70px; }

.pad-left-70 {
  padding-left: 70px; }

.pad-75 {
  padding: 75px; }

.pad-top-75 {
  padding-top: 75px; }

.pad-right-75 {
  padding-right: 75px; }

.pad-bottom-75 {
  padding-bottom: 75px; }

.pad-left-75 {
  padding-left: 75px; }

.pad-80 {
  padding: 80px; }

.pad-top-80 {
  padding-top: 80px; }

.pad-right-80 {
  padding-right: 80px; }

.pad-bottom-80 {
  padding-bottom: 80px; }

.pad-left-80 {
  padding-left: 80px; }

.pad-85 {
  padding: 85px; }

.pad-top-85 {
  padding-top: 85px; }

.pad-right-85 {
  padding-right: 85px; }

.pad-bottom-85 {
  padding-bottom: 85px; }

.pad-left-85 {
  padding-left: 85px; }

.pad-90 {
  padding: 90px; }

.pad-top-90 {
  padding-top: 90px; }

.pad-right-90 {
  padding-right: 90px; }

.pad-bottom-90 {
  padding-bottom: 90px; }

.pad-left-90 {
  padding-left: 90px; }

.pad-95 {
  padding: 95px; }

.pad-top-95 {
  padding-top: 95px; }

.pad-right-95 {
  padding-right: 95px; }

.pad-bottom-95 {
  padding-bottom: 95px; }

.pad-left-95 {
  padding-left: 95px; }

.pad-100 {
  padding: 100px; }

.pad-top-100 {
  padding-top: 100px; }

.pad-right-100 {
  padding-right: 100px; }

.pad-bottom-100 {
  padding-bottom: 100px; }

.pad-left-100 {
  padding-left: 100px; }
